.item_random {
    background-color: #f19ca2;
    margin-top: 20px;
}
.item_def_random {
    background-color: #89c7b7;
}
.generate_random {
    border-radius: 10px;
    background-color: #ffff94;
    border: 2px solid #89c7b7;
    height: 40px;
    width: 20%;
    font-weight: bold;
}
