// .main {
//     width: 100%;
//     @media (max-width: 600px) {
//         background-color: red;
//     }
// }

.row {
    display: grid;
    grid-gap: 10px;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 40px;
    @media (max-width: 800px) {
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        grid-row-gap: 150px;
    }
}

.main_middle {
    margin: 0 auto;
    width: 80%;
}
.question {
    width: 100%;
    margin-top: 20px;
    font-size: 15px;
    position: relative;
    height: 80px;
    margin-bottom: 20px;    
}
.question_text {
    @media (max-width: 600px) {
        width: 80%;
        text-align: center;
        margin: auto;
    }
    @media (max-width: 800px) {
        width: 70%;
        text-align: center;
        margin: auto;
    }
}

.photo_left {
    height: 150px;
    width: 150px;
    background-image: url("../../images/small/adult_small.jpg");
    border: 1p  x solid lightgrey;
    background-size: cover;
    border-radius: 100px;
    margin-top: 50px;
    position: absolute;
    left: 23%;

    @media (min-width: 600px) {
        margin-top: 10px;
        left: 33%;
    }
    @media (min-width: 800px) {
        margin-top: 10px;
        left: 15%;
    } 
}

.photo_middle {
    height: 150px;
    width: 150px;
    background-image: url("../../images/small/sweep_small1.jpg");
    border: 1px solid lightgrey;
    background-size: cover;
    border-radius: 100px;
    margin-top: 30px;
    position: absolute;
    left: 23%;

    @media (min-width: 600px) {
        margin-top: 10px;
        left: 33%;
    }
    @media (min-width: 800px) {
        margin-top: 10px;
        left: 15%;
    }
}

.photo_right {
    height: 150px;
    width: 150px;
    background-image: url("../../images/small/47H_small.jpg");
    border: 1px solid lightgrey;
    background-size: cover;
    border-radius: 100px;
    margin-top: 30px;
    position: absolute;
    left: 23%;
    
    @media (min-width: 600px) {
        margin-top: 10px;
        left: 33%;
    }
    @media (min-width: 800px) {
        margin-top: 10px;
        left: 15%;
    }
}
.main_statement {
    margin-top: 200px;
    margin-bottom: 60px;
}
